.div-container-header {
    display: flex;
    justify-content: space-between;
}
.div-container-header-individual {
    display: flex;
    justify-content: space-between;
    color: #000;
}
.div-option-header-one {
    width: 5rem;
    padding: 1rem;
}
.logo-principal{
    background-image: url('../../assets/logoa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}