<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="div-form-container">
        <div class="div-form">
            <form action="">

                <div class="div-display-flex">
                    <div class="div-option-one">
                        <span role="button"><span>Empresas</span></span>
                    </div>
                    <div class="div-option-one">
                        <span role="button"><span>Personas</span></span>
                    </div>

                </div>

                <div>
                    <div class="div-display-flex">
                        <div class="div-option-one">
                            <span>Uno</span>
                        </div>
                        <div class="div-option-one">
                            <span>Dos</span>
                        </div>
                        <div class="div-option-one">
                            <span>Tres</span>
                        </div>
                        <div class="div-option-one">
                            <span>Cuatro</span>
                        </div>
                        <div class="div-option-one">
                            <span>Cinco</span>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</body>

</html>