.div-header {
    display: flex;
    background-color: #181818;
    justify-content: space-around;
    padding: 1rem;
    font-size: large;
    a {
        text-decoration: none;
        color: #999;
    }
}
